/*style.css includes display,view details*/

/*FOR DISPLAY TABLE....display.php*/
*{
    margin: 0%;
}
.table{
    margin: 50px;
    font-size: medium;
    font-family:Arial;
    width: 900px;
    height:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}  
/*margin left and right to center table*/
.table thead{
    text-align: left;  /*text display in left*/
    background-color:antiquewhite;
    height: 40px;
}
.table tr{
    text-align: center;  /*text display in center*/
    border: 2px solid black;   
}
.table td{
    padding: 15px;
    border:  1px solid gray;
}

/*for view section like headings of the box*/
/*text above box*/
.form-group,p{
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: large;

}
/*inside the box*/
.form-control{
    text-align: center;
    font-size:large;
    width: 500px;
    height: 20px;
    padding: 10px;
}

/*for view button*/
.bview{
    background-color: rgb(35, 226, 226);
    padding: 3px;
}
/*for delete button*/
.bdelete{
    background-color: red;
    padding: 3px;
    
}
/*for add movie button*/
.badd{
    background-color:beige;
    padding: 3px;
    text-align: center;
    margin: auto;
    display: flex;
    
    
}