/*style1 includes form submission of new entry*/

/*for text over the box*/
.form-group,p{
    text-align:center;
    box-sizing: border-box;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
/*inside the box*/
.form-control{
    text-align: center;
    font-size:small;
    width: 500px;
    height: 20px;
    padding: 10px;
}
/*styling for button*/
.submit{
    background-color:rgb(144, 226, 144);
    width: auto;
    padding: 10px;
    /*button centering using below 2 statements*/
    margin: auto;
    display: flex;
}